section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("https://i.pinimg.com/originals/30/11/28/3011287c77dcd9ee886ebebebcbfa827.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}